__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/
.cache/
.venv/
.venv
dist/
build/
coverage.xml
.coverage
*.parquet
/tmp/
temp/
logs/
*.log
.temp/
.tmp/
*.duckdb
*.duckdb.wal

.gemini/
gha-creds-*.json
